{% extends 'base.html.twig' %}

{% block title %}New IPAddress{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
     .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 450px;
        }
     .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85vh;
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
<div {{react_component('Navbar')}}></div>
<div class="main-container">
    <div class="form-container">
        <h1 style="font-family: 'HT Grostek', sans-serif; padding: 20px; ">Ajouter une addresse:</h1>
        {{ include('ip_address/_form.html.twig') }}
    </div>
</div>   
{% endblock %}
